@page "/AddToDB"



<h3>Add CSV to Database</h3>

<br />
<br />

<h3>Upload Math Course</h3>
<ContextComponent Table="MATHList"></ContextComponent>

<br />
<br />

<h3>Upload CIST Course</h3>
<ContextComponent Table="CISTList"></ContextComponent>

<br />
<br />

<h3>Upload CYBR Course</h3>
<ContextComponent Table="CYBRList"></ContextComponent>

<br />
<br />

<h3>Upload CSCI Course</h3>
<ContextComponent Table="CSCIList"></ContextComponent>

<br />
<br />

@code {

}
