@page "/AddToDB"



<h3>Add CSV to Database</h3>

<br />
<br />

<ContextComponent Table="MATHList"></ContextComponent>

<br />
<br />

<ContextComponent Table="CISTList"></ContextComponent>

<br />
<br />

<ContextComponent Table="CYBRList"></ContextComponent>

<br />
<br />

<ContextComponent Table="CSCIList"></ContextComponent>

<br />
<br />

@code {

}
