@page "/fetchdata"

@using Course_Display.Data;
@using CsvHelper;
@using System.IO;
@using System.Globalization;
@using BlazorInputFile;
@inject DBService dbService

<h1>Fetch Data</h1>

<h4>Select Core </h4>
<InputFile multiple OnChange="HandleFileSelected" />


@{
    if (CoreList.Count == 0)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h2>Core Requirements</h2>
        foreach (Course c in CoreList)
        {
            <ClassComponent course="c" classList="classList"></ClassComponent>
        }
    }
    <br />
    <br />
    if (UpperList.Count == 0)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h2>Upper Requirements</h2>
        foreach (Course c in UpperList)
        {
            <ClassComponent course="c" classList="classList"></ClassComponent>
        }
    }
    <br />
    <br />
    if (AddList.Count == 0)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h2>Additional Requirements</h2>
        foreach (Course c in AddList)
        {
            <ClassComponent course="c" classList="classList"></ClassComponent>
        }
    }
}




@code {
    public Course currentCourse;
    public string courseName = "";
    public IEnumerable<ReqCourse> CSVfile;
    public List<Course> CoreList = new List<Course>();
    public List<Course> UpperList = new List<Course>();
    public List<Course> AddList = new List<Course>();
    public List<string> classList = new List<string>();

    IFileListEntry file;
    IEnumerable<Course> CourseList;

    public void HandleFileSelected(IFileListEntry[] files)
    {
        foreach (IFileListEntry file in files)
        {
            if (file != null && file.Name == "classList.csv")
            {
                UploadCSV(file);
                break;
            }
        }
        foreach (IFileListEntry file in files)
        {
            if (file != null && file.Name != "classList.csv")
            {
                UploadCSV(file);
            }
        }
    }

    public async Task HandleCore(StreamReader reader, string fileName)
    {
        var csv = new CsvReader(reader, CultureInfo.InvariantCulture);
        CSVfile = csv.GetRecords<ReqCourse>();
        foreach (ReqCourse req in CSVfile)
        {
            Course tempCourse = new Course();
            string className = req.CourseName;
            tempCourse = await getCourse(className);
            CoreList.Add(tempCourse);
        }
        reader.Close();
        csv.Dispose();
    }

    public async Task HandleUpper(StreamReader reader, string fileName)
    {
        var csv = new CsvReader(reader, CultureInfo.InvariantCulture);
        CSVfile = csv.GetRecords<ReqCourse>();
        foreach (ReqCourse req in CSVfile)
        {
            Course tempCourse = new Course();
            string className = req.CourseName;
            tempCourse = await getCourse(className);
            UpperList.Add(tempCourse);
        }
        reader.Close();
        csv.Dispose();
    }

    public async Task HandleAdd(StreamReader reader, string fileName)
    {
        var csv = new CsvReader(reader, CultureInfo.InvariantCulture);
        CSVfile = csv.GetRecords<ReqCourse>();
        foreach (ReqCourse req in CSVfile)
        {
            Course tempCourse = new Course();
            string className = req.CourseName;
            tempCourse = await getCourse(className);
            AddList.Add(tempCourse);
        }
        reader.Close();
        csv.Dispose();
    }

    public async Task HandleClassList(StreamReader reader, string fileName)
    {
        var csv = new CsvReader(reader, CultureInfo.InvariantCulture);
        CSVfile = csv.GetRecords<ReqCourse>();
        foreach (ReqCourse req in CSVfile)
        {
            Course tempCourse = new Course();
            string className = req.CourseName;
            tempCourse = await getCourse(className);
            classList.Add(tempCourse.CourseName);
        }
        reader.Close();
        csv.Dispose();
    }

    public async Task UploadCSV(IFileListEntry iFile)
    {
        var ms = new MemoryStream();
        try
        {
            await iFile.Data.CopyToAsync(ms);
        }
        catch (NullReferenceException ne)
        {

        }

        StreamReader reader = new StreamReader(ms, System.Text.Encoding.UTF8);
        reader.DiscardBufferedData();
        reader.BaseStream.Seek(0, SeekOrigin.Begin);

        var fileName = iFile.Name.Split(".csv")[0];

        switch (fileName)
        {
            case "Core":
                await HandleCore(reader, fileName);
                break;
            case "Upper":
                await HandleUpper(reader, fileName);
                break;
            case "Add":
                await HandleAdd(reader, fileName);
                break;
            case "classList":
                await HandleClassList(reader, fileName);
                break;
        }
    }

    // Given a course name as a string
    // Populates the currentCourse object with the values belonging to that course
    public async Task<Course> getCourse(string className)
    {
        currentCourse = await dbService.GetCourseAsync(className);
        base.StateHasChanged();
        return currentCourse;
        //dbService.Testing("CSCI300");
    }


}
