@page "/fetchdata"

@using Course_Display.Data
@inject DBService dbService

<h1>Weather forecast</h1>


@if (currentCourse == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Credit Hours</th>
                <th>Prereqs</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@currentCourse.CourseName</td>
                    <td>@currentCourse.CreditHours</td>
                    <td>@currentCourse.Prereqs</td>
                </tr>
        </tbody>
    </table>
}

<button @onclick="() => getThing()">Populate list</button>

@code {
    public Course currentCourse;

    protected override async Task OnInitializedAsync()
    {
    }

    public async void getThing()
    {
        currentCourse = await dbService.GetCourseAsync("CSCI 1200");
        //dbService.Testing("CSCI300");
    }
}
