@page "/"

<h1>College Advisor</h1>

<div>
    Please check out the links to your left.
    <br />
    Upload a CSV file to the database tables through the "Add To DB" link.
    <br />
    View the status of your classes by uploading your list of classes taken, the Core Course list, Upper Division list, and Core Extension courses as csv files with the following names: classList.csv, Add.csv, Upper.csv, and Core.csv
</div>
